* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: rgb(70, 171, 230);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    color: white;
    font-size: 13px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 0px;
}

.links a:hover {
    background-color: rgb(157, 215, 248);
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.photo {
    width: 33px;
    border-radius: 50%;
    cursor: pointer;
}